@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

html, body{
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
h1{
  margin: 0 0 10px;
}
.headerBlock{
  padding-top: 50px;
  padding-bottom: 50px;
}
.orderBlock {
    width: 450px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    font-size: 24px;
}
.orderTask{
  margin-bottom: 30px;
}
.doneStyle {
  text-decoration: line-through;
  color: grey;
}

.inputStyle {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    outline: none;
}
.addButton, .buttonDelete {
    margin-left: 20px;
    width: 90px;
    height: 28px;
    border: 1px solid #ccc;
    background: #fff;
    color: #666;
    border-radius: 5px;
    box-shadow: inset 0 2px 2px #ccc;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 0px;
}
.addButton:hover, .buttonDelete:hover {
    box-shadow: 0 0 2px #ccc;
}
.addButton:active, .buttonDelete:active {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}

.mainBlock {
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(
        #d4fc79, #96e6a1
      );
}
.textTask {
    width: 300px;
    margin-left: 20px;
    text-align: left;
}
